---

import fondoFooter from "~/assets/tierra-footer.webp";
import Rrss from "./rrss.astro";
import { Image } from "astro:assets";

---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40 flex items-end">
    <Image
      class="w-full object-cover"
      src={fondoFooter}
      alt="Footer"
    />
  </div>
  <Rrss itemsPerCol=2 />
</footer>
